<%- include('../header');%>
<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu Navigasi Side-->
      <%- include('../admin/menuNav');%>
      <!-- End Menu Navigasi Side-->
      <!-- Menu Navigasi Side-->
      <%- include('../admin/topNavBar');%>
      <!-- End Menu Navigasi Side-->
      <!-- Content wrapper -->

      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profile /</span> Account</h4>

          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                  <a class="nav-link active" href="/profile"><i class="bx bx-user me-1"></i> Account</a>
                </li>
              
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/setting"
                    ><i class="bx bx-cog me-2"></i> Settings</a
                  >
                </li>
              </ul>
             
                <!-- Account -->
                <div class="card-body">
                  <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img
                      src="../assets/img/avatars/1.png"
                      alt="user-avatar"
                      class="d-block rounded"
                      height="100"
                      width="100"
                      id="uploadedAvatar"
                    />
                    <div class="button-wrapper">
                      <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input
                          type="file"
                          id="upload"
                          class="account-file-input"
                          hidden
                          accept="image/png, image/jpeg"
                        />
                      </label>
                      <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                        <i class="bx bx-reset d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Reset</span>
                      </button>

                      <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                    </div>
                  </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                  <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">Name</label>
                        <input class="form-control" type="text" name="" id="" value="" />

                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">EMAIL</label>
                        <input class="form-control" type="text" name="" id="" value="" />
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">NOMOR TELEPON</label>
                        <input class="form-control" type="text" name="" id="" value="" />
                      </div>


              </div>
          </div>
      </div>
      
  </div>
</div>
<!--/ Contextual Classes -->
                <!-- /Account -->
<%- include('../footer');%>