<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Surat perijinan</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <style>
      table tr td {
        font-size: 13px;
      }
      table tr .text {
        text-align: right;
        font-size: 13px;
      }
    </style>
  </head>
  <body>
    <center>
      <table>
        <tr>
          <td><img src="../../assets/img/logo rapah.png" width="90" /></td>
          <td>
            <center>
              <font size="4"
                >PEMERINTAH PROVINSI JAWA BARAT DINAS PENDIDIKAN</font
              ><br />
              <font size="5">SMK PUSDIKHUBAD CIMAHI</font><br>
              <font size="2"
                >BIDANG STUDI KEAHLIAN : TEKNOLOGI DAN REKAYASA</font
              ><br />
              <font size="2">TEKNOLOGI INFORMASI DAN KOMUNIKASI</font><br>
              <font size="2"
                >Komplek Microwave No. 1 Kalidam Telp. 022-6658122</font
              ><br />
              <font size="2"
                >Email : smkpusdikhubcimahi@yahoo.com - Kota Cimahi 40523</font
              ><br />
            </center>
          </td>
          <td><img src="../../assets/img/smk.png" width="90" /></td>
        </tr>
        <tr>
          <td colspan="3"><hr></td>
        </tr>
      </table>
      <table width="692">
        <tr>
          <td class="text">bandung, 20 November 2023</td>
        </tr>
      </table>
      <br>
      <table  width="692">
        <tr>
          <td>hal :</td>
          <td >Surat tanda izin keluar/masuk sekolah</td>
        </tr>
      </table>
      <br>
      <table width="692">
        <tr>
          <td>
            <font size="2">kpd Yth : <br>Wks Kesiswaan<br>SMK PUSDIKHUBAD</font>
          </td>
        </tr>
      </table>
      <br>
      <table  width="692">
        <tr>
          <td>
            <font size="2">Assalamulikum wr wb<br>Dengan adanya surat Ini saya berkehendak untuk keluar/masuk sekola dikarenakan ada urusan mendadak pada tanggal 20 november 2023, Kepada bapa keamanan dipersilahkan untuk di baca</font>
          </td>
        </tr>
        <table width="692">
          <tr>
            <td>
           hari
            </td>
            <td width="541"> : senin</td>
          </tr>
          <tr>
            <td>
           jam
            </td>
            <td width="541"> : 18.00</td>
          </tr>
          <tr>
            <td>
           Tempat
            </td>
            <td width="541"> : Pt induksi</td>
          </tr>
        </table>
      </table>
      <br>
      <table width="692">
        <tr>
          <td>
            <font size="2">Diharapkan untuk permohonan di izinkan nya izin keluar masuk sekolah, saya ucapkan terimkasih <br>wassalam wr.wb</font>
          </td>
        </tr>
        </table>
        <br>
        <table  width="692" >
<tr>
  <td width="430">
  </td>
  <td class="text">Penanggung Jawab Wks kesiswaan<br><br><br><br>Bpk Raka.S.kom</td>
</tr>
        </table>
      </table>
    </center>
  </body>
</html>
